html{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    margin: auto 0;
}
.hero{
    background: black url("img/cover_bigger.jpg") center / cover;
}
.hero-head{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-item, .hero-body{
    color: #000;
    font-weight: bold;
    transition: 0.2s;
}
.navbar-item:hover, .hero-body:hover{
    color: rgb(253, 244, 244);
}
.navbar-item{
    font-size: 14px;
}
.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.image{
    width: 7rem; 
    height: 2rem;
    position:fixed;
}

.fa-bars{
    width: 1.5em; 
    height: 1.5rem;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}
.li{
    margin: 10px;
}
@media (max-width: 1200px){
    .desktop {
        display: none;
        visibility: hidden;
        content: none;
	}
    .hero{
        background: black url("img/cover.jpg") center/cover;
        
    }
}
@media (max-width: 768px){
    .hero{
        background: black url("img/cover_small.jpg");
        background-position: center;
        background-size: cover;     
    }
    .desktop {
        display: none;
        visibility: hidden;
        content: none;
	}
}